<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/Quiz/QuizStyle.css">
    </head>
    <body>
        <p>How many hours a week do you play videogames?</p>
        <form action="/quiz" method="get">
            <input type="hidden" name="quiz" value="2">
            <input type="radio" name="amount" value="0-5 Hours">
            <label>0-5 Hours</label><br>
            <input type="radio"  name="amount" value="6-15 Hours">
            <label>6-15 Hours</label><br>
            <input type="radio" name="amount" value="16-25 Hours">
            <label>16-25 Hours</label><br>
            <input type="radio" name="amount" value="26+ Hours">
            <label>26+</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>