<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/ToDoList/Todo.css">
</head>
<body>
    <!-- <div class = "page"> -->
        <div class = "noncompleted">
            <h2>Not Completed</h2>
            <ul id="not-completed-list"></ul>
            <div class = "add">
                <form onsubmit="process(); return false;">
                    <input type="text" id="task_name" />
                </form>      
            </div>
        </div>
    
        <div class = "check">
            <!-- <p>Completed Items</p> -->
            <img src="/static/Images/ToDo/Checkmark.png" alt="A picture of a chekcmark">
        </div>
        <div class = "completed">
            <h2>Completed</h2>
            <ul id="completed-list"></ul>
        </div>
    <!-- </div> -->
    <script src="\static\ToDoList\Todo.js"></script>
    <script>
        // Using XMLHttpRequest for the AJAX request
        update();
    </script>
</body>
</html>