*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
}
.rules-gamemode{
    background-color: #afafaf;
    width: 75%;
    margin: auto;
    margin-top: 4px;
    padding: 4px;
}
.rules-gamemode h1{
    margin: 0px;
    font-size: 1.5em;
}
.rules-gamemode p{
    margin: 0px;
    font-size: .75em;
}
.rules-gamemode button{
    border-radius: 8px;
}
.rules-gamemode button:hover{
    background-color: #495057;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1em;
    text-align: center;
}

body{
    margin: 0;
    overflow: hidden;
    background: #7e7e7e;
    }
    
i{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-animation: 'screen'  infinite;
    animation: 'screen'  infinite;
}
body {
    background-color:#343a40;
    background-image: linear-gradient(30deg, #495057 12%, transparent 12.5%, transparent 87%, #495057 87.5%, #495057),
    linear-gradient(150deg, #495057 12%, transparent 12.5%, transparent 87%, #495057 87.5%, #495057),
    linear-gradient(30deg, #495057 12%, transparent 12.5%, transparent 87%, #495057 87.5%, #495057),
    linear-gradient(150deg, #495057 12%, transparent 12.5%, transparent 87%, #495057 87.5%, #495057),
    linear-gradient(60deg, #212529 25%, transparent 25.5%, transparent 75%, #212529 75%, #212529), 
    linear-gradient(60deg, #212529 25%, transparent 25.5%, transparent 75%, #212529 75%, #212529);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-gap: 2px; 
    width: 550px; 
    height: 550px; 
    border: 2px solid black; 
    margin: auto;
    padding: 4px;
    background-color: #495057;
    margin-top: .5%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.grid-item:hover{
    background-color: #fff;
}

.grid-item-0 {
    background-color: #212529;
}

.grid-item-1 {
    background-color: red;
}

.grid-item-2 {
    background-color: orange;
}

.grid-item-3 {
    background-color: yellow;
}

.grid-item-4 {
    background-color: green;
}

.grid-item-5 {
    background-color: blue;
}

.grid-item-6 {
    background-color: purple;
}

/* .colorChanger {
    display: flex; 
    justify-content: space-between; 
    width: 550px;
    height: 125px;
    background-color: #495057;
    margin: auto;
    border-radius: 16px;
    vertical-align: middle;
}

.vertical-slider {
    writing-mode: bt-lr;
    appearance: slider-vertical;
    width: 10px;
    height: 80%;
    background: #f1f1f1;
    outline: none;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    padding: 4px;
} */