*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
	list-style-type: none;	
}
img{
	display: none;
	height: 16px;
}
label:hover > img{
	display: inline;
}
ul.sublist {
    padding-left: 20px; /* Adjust the indentation as needed */
}

ul.sublist li {
    list-style-type: circle; /* Change the list style as needed */
}
