*{
    font-family: 'Lucida Console', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 0px;
}
h1{
    padding-top: 10%;
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: center;
    font-size: 2em;
}
p{
    font-size: 1em;
    padding: 1em;
    border: black;
    border-radius: 1em;
    background-color: #5C9EAD;
    margin: auto;
    width: 80%;
}
body{
    background-color: lightgray;
}