*{
    font-family: 'Lucida Console', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 0px;
}
p{
    text-align: center;
    font-size: 1.75em;
    padding: 1em;
}
input {
    margin: .5em;
    box-sizing: border-box;
}
input[type = radio]{
    background-color: #5C9EAD;
}
input[type = checkbox]{
    background-color: #5C9EAD;
}
form{
    background-color: lightgray;
    width: 75%;
    padding: 5px 50px 16px 32px;
    border-radius: 32px;
    margin: auto;
    border: 4px solid #326273;
}
input[type = submit]{
    border-radius: 8px;
}
input:hover{
    background-color:#5C9EAD;
}
body{
    background-color: gray;
}