*{
    font-family: 'Comfortaa', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin: 0px;
}
input {
    width: 85%;
    margin: .5em;
    box-sizing: border-box;
}
input[type = radio]{
    background-color: #5C9EAD;
}
input[type = checkbox]{
    background-color: #5C9EAD;
}