*{
    font-family: 'Playfair Display';
    margin: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 12px;
}
.page-wrapper{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'preamble preamble preamble preamble picture1 picture1'
    'picture2 picture2 explaination explaination explaination explaination'
    'participation participation participation participation benefits benefits'
    'participation participation participation participation picture3 picture3'
    'requirements requirements requirements requirements requirements requirements'
    ;
}
[role = "banner"]{
    grid-area: header;
}
.summary{
    grid-area: summary;
}
.preamble{
    grid-area: preamble;
}
.explaination{
    grid-area: explaination;
}
.participation{
    grid-area: participation;
}
.benefits{
    grid-area: benefits;
}
.requirements{
    grid-area: requirements;
}
.extra1{
    grid-area: picture1;
}
.extra2{
    grid-area: picture2;
}
.extra3{
    grid-area: picture3;
}
.sidebar{
    display: none;
}
.design-archives{
    display: none;
}