*{
    font-family: 'Playfair Display';
    margin: 0px;
    text-align: justify;
}
a{
    font-family: 'Broadway';
    
}

/*Page Title*/
h1{
    font-size: 122px;
    text-align: center;
    border: 24px 0px 4px 0px;
    border-color: black;
    border-style: solid;
}
h2{
    font-size: 32px;
    text-align: center;
    border: 0px 0px 8px 0px;
    border-color: black;
    border-style: solid;
}
.intro{
    text-align: center;
}