<!DOCTYPE html>
<html>
<head>
    <title>Final Page</title>
</head>
<body>
    <h1>Final Selections</h1>
    <ul>
        <li>Device: {{ device }}</li>
        <li>Amount: {{ amount }}</li>
        <li>Price: {{ price }}</li>
        <li>Color: {{ color }}</li>
        <li>Multiplayer: {{ multiplayer }}</li>
        <li>Frequency: {{ frequency }}</li>
        <li>Victory: {{ victory }}</li>
        <li>Completion: {{ completion }}</li>
        <li>LoL: {{ LoL }}</li>
    </ul>
    <p>{{ amount }}</p>
</body>
</html>
