<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>What are your preferred ways to game?</p>
        <form action="/quiz" method="get">
            <input type="checkbox" name="device" value="Mobile">
            <label>Mobile/Phone</label><br>
            <input type="checkbox" name="device" value="Console">
            <label>Console</label><br>
            <input type="checkbox" name="device" value="PC">
            <label>PC</label><br>
            <input type="checkbox" name="device" value="Retro">
            <label>Retro</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>