<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>How often do you play online?</p>
        <form action="/quiz" method="get">
            <input type="hidden" name="quiz" value="6">
            <input type="radio" id="frequency" name="frequency" value="Offline">
            <label>I don't play online</label><br>
            <input type="radio" id="frequency" name="frequency" value="Monthly">
            <label>I play monthly</label><br>
            <input type="radio" id="frequency" name="frequency" value="Weekly">
            <label>I play weekly</label><br>
            <input type="radio" id="frequency" name="frequency" value="Daily">
            <label>I play daily</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>