<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>How often do you win?</p>
        <form action="/quiz" method="get">
            <input type="hidden" name="quiz" value="7">
            <input type="radio" id="victory" name="victory" value="for_fun">
            <label>I don't play games where winning is an objective/winning is subjective</label><br>
            <input type="radio" id="victory" name="victory" value="rarely">
            <label>I win rarely</label><br>
            <input type="radio" id="victory" name="victory" value="often">
            <label>I win often</label><br>
            <input type="radio" id="victory" name="victory" value="always">
            <label>I never lose >:D</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>