<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>How many achievements do you get in you favorite games?</p>
        <form action="/quiz" method="get">
            <input type="radio" id="completion" name="completion" value="none">
            <label>I don't really go for achievements</label><br>
            <input type="radio" id="completion" name="completion" value="few">
            <label>10%-35%</label><br>
            <input type="radio" id="completion" name="completion" value="average">
            <label>36%-80%</label><br>
            <input type="radio" id="completion" name="completion" value="majority">
            <label>80%+</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>