<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>How often do you play with friends?</p>
        <form action="/quiz" method="get">
            <input type="radio" id="multiplayer" name="multiplayer" value="Singleplayer">
            <label>I play singleplayer (I don't have friends ;-;)</label><br>
            <input type="radio" id="multiplayer" name="multiplayer" value="Monthly">
            <label>I play with them monthly</label><br>
            <input type="radio" id="multiplayer" name="multiplayer" value="Weekly">
            <label>I play with them weekly</label><br>
            <input type="radio" id="multiplayer" name="multiplayer" value="Daily">
            <label>I play with them daily</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>