<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>Leagure of Legends is. . . </p>
        <form action="/quiz" method="get">
            <input type="radio" id="LoL" name="LoL" value="innocent">
            <label>A game I've never heard of before</label><br>
            <input type="radio" id="LoL" name="LoL" value="wrong">
            <label>My favorite game</label><br>
            <input type="radio" id="LoL" name="LoL" value="right">
            <label>A toxic game</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>