<html>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fruit Tier List</title>
        <link rel="styleSheet" href="\static\FruitTierList\FTL.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Ops+One">
    </header>
    <body>
        <script src = "\static\FruitTierList\FTL.js"></script>
        <h1>THE ULTIMATE RANKING</h1>
        <p>Vote for your favorite fruit!</p>
        <div class = "main"></div>
        <div class = "page">
            <form action="/vote" method="POST" id="myForm">
                <p>Which fruit would you like to vote for?</p>
                
                <div class="card">
                    <h1>Apricots</h1>
                    <p>A juicy, orange treasure that's like biting into a burst of summer sunshine.</p>
                    <label for="apricots">
                        <input type="radio" id="apricots" name="fruit" value="apricots">
                        <img src="/static/Images/Fruit/Apricots.jpg" alt="A picture of apricots">
                    </label>
                </div>

                <div class="card">
                    <h1>Apples</h1>
                    <p>Classic with a crunch. Comes in a variety of colors and flavors from the red Cosmic Crisp to the Green Granny Smiths!</p>
                    <label for="apple">
                        <input type="radio" id="apple" name="fruit" value="apple">
                        <img src="/static/Images/Fruit/Apples.jpg" alt="A picture of apples">
                    </label>
                </div>

                <div class="card">
                    <h1>Avocados</h1>
                    <p>Creamy and green, avocados are the ultimate addition to any dish, turning it into a smooth and buttery sensation.</p>
                    <label for="avocados">
                        <input type="radio" id="avocados" name="fruit" value="avocados">
                        <img src="/static/Images/Fruit/Avocados.jpg" alt="A picture of avocados">
                    </label>
                </div>                
                
                <div class="card">
                    <h1>Bananas</h1>
                    <p>Tropical delight, bananas are always ready for a sunshine snack with their vibrant yellow peel.</p>
                    <label for="banana">
                        <input type="radio" id="banana" name="fruit" value="banana">
                        <img src="/static/Images/Fruit/Bananas.jpg" alt="A picture of bananas">
                    </label>
                </div>

                <div class="card">
                    <h1>Bilberry</h1>
                    <p>These small, dark blue gems are like wild blueberries, bursting with intense flavor and antioxidants.</p>
                    <label for="bilberry">
                        <input type="radio" id="bilberry" name="fruit" value="bilberry">
                        <img src="/static/Images/Fruit/Bilberry.jpg" alt="A picture of bilberries">
                    </label>
                </div>

                <div class="card">
                    <h1>Blackberry</h1>
                    <p>Sweet and slightly tart, these deep purple berries are perfect for pies, jams, or simply snacking.</p>
                    <label for="blackberry">
                        <input type="radio" id="blackberry" name="fruit" value="blackberry">
                        <img src="/static/Images/Fruit/Blackberries.jpg" alt="A picture of blackberries">
                    </label>
                </div>

                <div class = "card">
                    <h1>Blackcurrant</h1>
                    <p>These tiny, tangy jewels are a rich, dark purple delight, perfect for jams and desserts.</p>
                    <label for="blackcurrant">
                        <input type="radio" id="blackcurrant" name="fruit" value="blackcurrant">
                        <img src="/static/Images/Fruit/Blackcurrants.jpg" alt="A picture of blackcurrants">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Blueberry</h1>
                    <p>Pop one of these plump, indigo orbs in your mouth, and experience a burst of sweet, fruity goodness.</p>
                    <label for="blueberry">
                        <input type="radio" id="blueberry" name="fruit" value="blueberry">
                        <img src="/static/Images/Fruit/Blueberries.jpg" alt="A picture of blueberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Boysenberry</h1>
                    <p>A berry bonanza with a rich, deep maroon hue and a medley of sweet and tangy flavors.</p>
                    <label for="boysenberry">
                        <input type="radio" id="boysenberry" name="fruit" value="boysenberry">
                        <img src="/static/Images/Fruit/Boysenberry.jpg" alt="A picture of boysenberries">
                    </label>
                </div>

                <div class="card">
                    <h1>Cantaloupe</h1>
                    <p>With a webbed rind and vibrant orange flesh, cantaloupes provide a sweet, fragrant bite that's great for snacks.</p>
                    <label for="cantaloupe">
                        <input type="radio" id="cantaloupe" name="fruit" value="cantaloupe">
                        <img src="/static/Images/Fruit/Cantalopue.jpg" alt="A picture of cantaloupes">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Currant</h1>
                    <p>Small and radiant red, currants pack a zesty punch, ideal for jams and sauces.</p>
                    <label for="currant">
                        <input type="radio" id="currant" name="fruit" value="currant">
                        <img src="/static/Images/Fruit/Currant.jpg" alt="A picture of currants">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Cherry</h1>
                    <p>These plump, ruby-red or deep purple treasures are nature's candy, bursting with sweet juiciness.</p>
                    <label for="cherry">
                        <input type="radio" id="cherry" name="fruit" value="cherry">
                        <img src="/static/Images/Fruit/Cherry.jpg" alt="A picture of cherries">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Cherimoya</h1>
                    <p>A tropical delight with pale green, scaly skin and a creamy, vanilla-like flesh that'll transport you to a sunny paradise.</p>
                    <label for="cherimoya">
                        <input type="radio" id="cherimoya" name="fruit" value="cherimoya">
                        <img src="/static/Images/Fruit/Cherimoya.jpg" alt="A picture of cherimoyas">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Chico Fruit</h1>
                    <p>This small, brown, and fuzzy delight is an explosion of sweet, honeyed flavor with a unique texture.</p>
                    <label for="chico">
                        <input type="radio" id="chico" name="fruit" value="chico">
                        <img src="/static/Images/Fruit/ChicoFruit.jpg" alt="A picture of chico fruit">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Cloudberry</h1>
                    <p>Like nuggets of gold, these orange, raspberry-like gems thrive in the Nordic wilderness, offering a rare, tangy-sweet taste.</p>
                    <label for="cloudberry">
                        <input type="radio" id="cloudberry" name="fruit" value="cloudberry">
                        <img src="/static/Images/Fruit/Cloudberry.jpg" alt="A picture of cloudberries">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Coconut</h1>
                    <p>Tropical icon with a hard, brown shell hiding a treasure of sweet, milky-white flesh.</p>
                    <label for="coconut">
                        <input type="radio" id="coconut" name="fruit" value="coconut">
                        <img src="/static/Images/Fruit/Coconut.jpg" alt="A picture of coconuts">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Cranberry</h1>
                    <p>Tangy, crimson orbs that pop with flavor, making them essential for zesty sauces and holiday feasts.</p>
                    <label for="cranberry">
                        <input required type="radio" id="cranberry" name="fruit" value="cranberry">
                        <img src="/static/Images/Fruit/Cranberry.jpg" alt="A picture of cranberries">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Cucumber</h1>
                    <p>Crisp and green, cucumbers are the cool, refreshing choice for salads and snacking.</p>
                    <label for="cucumber">
                        <input required type="radio" id="cucumber" name="fruit" value="cucumber">
                        <img src="/static/Images/Fruit/Cucumber.jpg" alt="A picture of cucumbers">
                    </label>
                </div>
            
                <div class="card">
                    <h1>Custard Apple</h1>
                    <p>With green, bumpy skin and sweet, custard-like flesh, this fruit is a tropical treat.</p>
                    <label for="custardapple">
                        <input required type="radio" id="custardapple" name="fruit" value="custardapple">
                        <img src="/static/Images/Fruit/CustardApple.jpg" alt="A picture of custard apples">
                    </label>
                </div>

                <div class="card">
                    <h1>Damson</h1>
                    <p>Small and purple, these plums are perfect for jams and desserts, offering a tart and juicy burst.</p>
                    <label for="damson">
                        <input required type="radio" id="damson" name="fruit" value="damson">
                        <img src="/static/Images/Fruit/Damson.jpg" alt="A picture of damsons">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Date</h1>
                    <p>Sweet and chewy, dates are a delicious natural energy boost, perfect for snacking or adding to desserts.</p>
                    <label for="date">
                        <input type="radio" id="date" name="fruit" value="date">
                        <img src="/static/Images/Fruit/Date.jpg" alt="A picture of dates">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Dragonfruit</h1>
                    <p>A striking pink fruit with white or red flesh speckled with tiny black seeds. Its flavor is as exotic as its appearance.</p>
                    <label for="dragonfruit">
                        <input type="radio" id="dragonfruit" name="fruit" value="dragonfruit">
                        <img src="/static/Images/Fruit/Dragonfruit.jpg" alt="A picture of dragonfruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Durian</h1>
                    <p>Known for its strong odor, the durian's flavor is a unique combination of sweet and savory, making it a delicacy for some.</p>
                    <label for="durian">
                        <input type="radio" id="durian" name="fruit" value="durian">
                        <img src="/static/Images/Fruit/Durian.jpg" alt="A picture of durian">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Elderberry</h1>
                    <p>Small, dark berries perfect for immune-boosting syrups, with a deep, purple hue and tangy taste.</p>
                    <label for="elderberry">
                        <input required type="radio" id="elderberry" name="fruit" value="elderberry">
                        <img src="/static/Images/Fruit/Elderberry.jpg" alt="A picture of elderberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Feijoa</h1>
                    <p>Bright green, oval delights with a tropical flavor reminiscent of guava and pineapple.</p>
                    <label for="feijoa">
                        <input required type="radio" id="feijoa" name="fruit" value="feijoa">
                        <img src="/static/Images/Fruit/Feijoa.jpg" alt="A picture of feijoas">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Fig</h1>
                    <p>Velvety and purple or green, figs offer a luscious, honeyed taste that's perfect for desserts or snacking.</p>
                    <label for="fig">
                        <input required type="radio" id="fig" name="fruit" value="fig">
                        <img src="/static/Images/Fruit/Fig.jpg" alt="A picture of figs">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Goji Berry</h1>
                    <p>Bright red and packed with antioxidants, these tiny berries are a healthy and tangy delight.</p>
                    <label for="gojiberry">
                        <input required type="radio" id="gojiberry" name="fruit" value="gojiberry">
                        <img src="/static/Images/Fruit/GojiBerry.jpg" alt="A picture of goji berries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Gooseberry</h1>
                    <p>Green or red, these small, translucent orbs are sweet and tart, perfect for jams and pies.</p>
                    <label for="gooseberry">
                        <input required type="radio" id="gooseberry" name="fruit" value="gooseberry">
                        <img src="/static/Images/Fruit/Gooseberry.jpg" alt="A picture of gooseberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Grape</h1>
                    <p>From deep purple to vibrant green, grapes are nature's candy, with a burst of sweetness in every bite.</p>
                    <label for="grape">
                        <input required type="radio" id="grape" name="fruit" value="grape">
                        <img src="/static/Images/Fruit/Grape.jpg" alt="A picture of grapes">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Grapefruit</h1>
                    <p>Large and yellow or pink, grapefruits offer a zesty and tangy flavor that's invigorating.</p>
                    <label for="grapefruit">
                        <input required type="radio" id="grapefruit" name="fruit" value="grapefruit">
                        <img src="/static/Images/Fruit/Grapefruit.jpg" alt="A picture of grapefruits">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Guava</h1>
                    <p>With pink or yellow skin and sweet, tropical taste, guavas are a paradise in every bite.</p>
                    <label for="guava">
                        <input required type="radio" id="guava" name="fruit" value="guava">
                        <img src="/static/Images/Fruit/Guava.jpg" alt="A picture of guavas">
                    </label>
                </div>  
                
                <div class="card">
                    <h1>Honeyberry</h1>
                    <p>Blue-black and honey-sweet, these berries are a rare and delightful treat.</p>
                    <label for="honeyberry">
                        <input required type="radio" id="honeyberry" name="fruit" value="honeyberry">
                        <img src="/static/Images/Fruit/Honeyberry.jpg" alt="A picture of honeyberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Honeydew</h1>
                    <p>Smooth and pale green, honeydews are the epitome of succulent sweetness, delivering a mild and refreshing flavor.</p>
                    <label for="honeydew">
                        <input required type="radio" id="honeydew" name="fruit" value="honeydew">
                        <img src="/static/Images/Fruit/Honeydew.jpg" alt="A picture of honeydews">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Huckleberry</h1>
                    <p>Small and dark blue, these wild berries are a sweet and slightly tart wilderness treasure.</p>
                    <label for="huckleberry">
                        <input required type="radio" id="huckleberry" name="fruit" value="huckleberry">
                        <img src="/static/Images/Fruit/Huckleberry.jpg" alt="A picture of huckleberries">
                    </label>
                </div>
                
                <div class = "card">
                    <h1>Jabuticaba</h1>
                    <p>These small, dark berries grow directly on the trunk, offering a unique and exotic experience.</p>
                    <label for="jabuticaba">
                        <input required type="radio" id="jabuticaba" name="fruit" value="jabuticaba">
                        <img src="/static/Images/Fruit/Jabuticaba.jpg" alt="A picture of jabuticabas">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Jackfruit</h1>
                    <p>Massive and green with a tropical flavor, it's often called the "vegetable meat."</p>
                    <label for="jackfruit">
                        <input required type="radio" id="jackfruit" name="fruit" value="jackfruit">
                        <img src="/static/Images/Fruit/Jackfruit.jpg" alt="A picture of jackfruits">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Jambul</h1>
                    <p>Small, dark purple or black berries with a sweet-tart taste, perfect for jams and desserts.</p>
                    <label for="jambul">
                        <input required type="radio" id="jambul" name="fruit" value="jambul">
                        <img src="/static/Images/Fruit/Jambul.jpg" alt="A picture of jambuls">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Jujube</h1>
                    <p>Small, reddish-brown wonders with a crisp and sweet apple-like flavor.</p>
                    <label for="jujube">
                        <input required type="radio" id="jujube" name="fruit" value="jujube">
                        <img src="/static/Images/Fruit/Jujube.jpg" alt="A picture of jujubes">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Juniper Berry</h1>
                    <p>Tiny, dark blue gems that infuse a piney, citrusy note into cuisine and spirits.</p>
                    <label for="juniperberry">
                        <input required type="radio" id="juniperberry" name="fruit" value="juniperberry">
                        <img src="/static/Images/Fruit/JuniperBerry.jpg" alt="A picture of juniper berries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Kiwano</h1>
                    <p>Also known as the "horned melon," it's spiky and orange with a jelly-like green interior, offering a sweet and mildly tart taste.</p>
                    <label for="kiwano">
                        <input required type="radio" id="kiwano" name="fruit" value="kiwano">
                        <img src="/static/Images/Fruit/Kiwano.jpg" alt="A picture of kiwano">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Kiwifruit</h1>
                    <p>Fuzzy, brown on the outside, and vibrant green on the inside, kiwis provide a sweet-tart flavor that's perfect for snacking or salads.</p>
                    <label for="kiwifruit">
                        <input required type="radio" id="kiwifruit" name="fruit" value="kiwifruit">
                        <img src="/static/Images/Fruit/Kiwifruit.jpg" alt="A picture of kiwifruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Kumquat</h1>
                    <p>Tiny, orange orbs with a sweet and tangy taste, eaten whole, skin and all.</p>
                    <label for="kumquat">
                        <input required type="radio" id="kumquat" name="fruit" value="kumquat">
                        <img src="/static/Images/Fruit/Kumquat.jpg" alt="A picture of kumquat">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Lemon</h1>
                    <p>Zesty and bright yellow, lemons add a burst of citrusy flavor to a variety of dishes.</p>
                    <label for="lemon">
                        <input required type="radio" id="lemon" name="fruit" value="lemon">
                        <img src="/static/Images/Fruit/Lemon.jpg" alt="A picture of lemon">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Lime</h1>
                    <p>Green and tangy, limes are the key to refreshing beverages and zesty cuisine.</p>
                    <label for "lime">
                        <input required type="radio" id="lime" name="fruit" value="lime">
                        <img src="/static/Images/Fruit/Lime.jpg" alt="A picture of lime">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Loquat</h1>
                    <p>These small, orange fruits are sweet and slightly tart, perfect for snacking or preserves.</p>
                    <label for="loquat">
                        <input required type="radio" id="loquat" name="fruit" value="loquat">
                        <img src="/static/Images/Fruit/Loquat.jpg" alt="A picture of loquat">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Longan</h1>
                    <p>Like a small, translucent lychee, longans offer a sweet and juicy bite.</p>
                    <label for="longan">
                        <input required type="radio" id="longan" name="fruit" value="longan">
                        <img src="/static/Images/Fruit/Longan.jpg" alt="A picture of longan">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Lychee</h1>
                    <p>Small, round fruits with rough, pinkish skin and sweet, juicy, translucent flesh.</p>
                    <label for="lychee">
                        <input required type="radio" id="lychee" name="fruit" value="lychee">
                        <img src="/static/Images/Fruit/Lychee.jpg" alt="A picture of lychee">
                    </label>
                </div>    
                
                <div class="card">
                    <h1>Mandarine</h1>
                    <p>Sweet and easy to peel, mandarins are a delightful snack.</p>
                    <label for="mandarine">
                        <input required type="radio" id="mandarine" name="fruit" value="mandarine">
                        <img src="/static/Images/Fruit/Mandarine.jpg" alt="A picture of mandarine">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Mango</h1>
                    <p>The king of tropical fruits, with a vibrant orange hue and a sweet, exotic flavor.</p>
                    <label for="mango">
                        <input required type="radio" id="mango" name="fruit" value="mango">
                        <img src="/static/Images/Fruit/Mango.jpg" alt="A picture of mango">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Mangosteen</h1>
                    <p>With a thick, purple rind and a snow-white interior, it offers a unique and sweet taste, often described as the "queen of fruits."</p>
                    <label for="mangosteen">
                        <input required type="radio" id="mangosteen" name="fruit" value="mangosteen">
                        <img src="/static/Images/Fruit/Mangosteen.jpg" alt="A picture of mangosteen">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Marionberry</h1>
                    <p>A sweet and tart delight with deep, dark purple-black color, perfect for pies and jams.</p>
                    <label for="marionberry">
                        <input required type="radio" id="marionberry" name="fruit" value="marionberry">
                        <img src="/static/Images/Fruit/Marionberry.jpg" alt="A picture of marionberry">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Miracle Fruit</h1>
                    <p>Small and red, this berry temporarily alters your taste buds to make sour foods taste sweet.</p>
                    <label for="miraclefruit">
                        <input required type="radio" id="miraclefruit" name="fruit" value="miraclefruit">
                        <img src="/static/Images/Fruit/MiracleFruit.jpg" alt="A picture of miracle fruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Mulberry</h1>
                    <p>Small and dark purple or red, mulberries are a sweet and tangy treat, often enjoyed fresh or in preserves.</p>
                    <label for="mulberry">
                        <input required type="radio" id="mulberry" name="fruit" value="mulberry">
                        <img src="/static/Images/Fruit/Mulberry.jpg" alt="A picture of mulberry">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Nectarine</h1>
                    <p>Resembling peaches but with smooth skin, nectarines offer a sweet, juicy experience.</p>
                    <label for="nectarine">
                        <input required type="radio" id="nectarine" name="fruit" value="nectarine">
                        <img src="/static/Images/Fruit/Nectarine.jpg" alt="A picture of nectarine">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Nance</h1>
                    <p>Tiny and yellow, these fruits Nance exceptionally sweet, often used in preserves.</p>
                    <label for="nance">
                        <input required type="radio" id="nance" name="fruit" value="nance">
                        <img src="/static/Images/Fruit/Nance.jpg" alt="A picture of nance">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Olive</h1>
                    <p>Small and green or black, olives are a Mediterranean delicacy with a briny, rich flavor.</p>
                    <label for="olive">
                        <input required type="radio" id="olive" name="fruit" value="olive">
                        <img src="/static/Images/Fruit/Olive.jpg" alt="A picture of olive">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Orange</h1>
                    <p>Bright and citrusy, oranges are the epitome of vitamin C-packed refreshment.</p>
                    <label for="orange">
                        <input required type="radio" id="orange" name="fruit" value="orange">
                        <img src="/static/Images/Fruit/Orange.jpg" alt="A picture of orange">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Papaya</h1>
                    <p>With vibrant orange flesh and tropical flavor, papayas are a sunny treat.</p>
                    <label for="papaya">
                        <input required type="radio" id="papaya" name="fruit" value="papaya">
                        <img src="/static/Images/Fruit/Papaya.jpg" alt="A picture of papaya">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Passionfruit</h1>
                    <p>Small, round wonders with a vibrant purple or yellow skin and a sweet-tart taste.</p>
                    <label for="passionfruit">
                        <input required type="radio" id="passionfruit" name="fruit" value="passionfruit">
                        <img src="/static/Images/Fruit/Passionfruit.jpg" alt="A picture of passionfruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Peach</h1>
                    <p>Fuzzy and ripe, peaches offer a juicy and sweet bite.</p>
                    <label for="peach">
                        <input required type="radio" id="peach" name="fruit" value="peach">
                        <img src="/static/Images/Fruit/Peach.jpg" alt="A picture of peach">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Pear</h1>
                    <p>With a smooth skin and a variety of colors, pears are a sweet and crisp delight.</p>
                    <label for="pear">
                        <input required type="radio" id="pear" name="fruit" value="pear">
                        <img src="/static/Images/Fruit/Pear.jpg" alt="A picture of pear">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Persimmon</h1>
                    <p>Hachiya persimmons are orange and sweet when ripe, while Fuyu persimmons are squat, yellow, and offer a firm, sweet taste.</p>
                    <label for="persimmon">
                        <input required type="radio" id="persimmon" name="fruit" value="persimmon">
                        <img src="/static/Images/Fruit/Persimmon.jpg" alt="A picture of persimmon">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Physalis</h1>
                    <p>Small, orange or yellow, these fruits are enveloped in papery husks and provide a sweet-tart taste.</p>
                    <label for="physalis">
                        <input required type="radio" id="physalis" name="fruit" value="physalis">
                        <img src="/static/Images/Fruit/Physalis.jpg" alt="A picture of physalis">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Plantain</h1>
                    <p>Larger and starchier than regular bananas, plantains are the ultimate choice for frying or cooking.</p>
                    <label for="plantain">
                        <input required type="radio" id="plantain" name="fruit" value="plantain">
                        <img src="/static/Images/Fruit/Plantain.jpg" alt="A picture of plantain">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Plum</h1>
                    <p>Sweet and juicy with a range of colors from red to purple, plums are perfect for snacking or baking.</p>
                    <label for="plum">
                        <input required type="radio" id="plum" name="fruit" value="plum">
                        <img src="/static/Images/Fruit/Plum.jpg" alt="A picture of plum">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Prune</h1>
                    <p>Dried plums that offer a sweet and chewy experience.</p>
                    <label for="prune">
                        <input required type="radio" id="prune" name="fruit" value="prune">
                        <img src="/static/Images/Fruit/Prune.jpg" alt="A picture of prune">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Pineapple</h1>
                    <p>Tropical and prickly on the outside, sweet and juicy on the inside.</p>
                    <label for="pineapple">
                        <input required type="radio" id="pineapple" name="fruit" value="pineapple">
                        <img src="/static/Images/Fruit/Pineapple.jpg" alt="A picture of pineapple">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Plumcot</h1>
                    <p>A hybrid of plums and apricots, plumcots have a sweet and slightly tart flavor.</p>
                    <label for="plumcot">
                        <input required type="radio" id="plumcot" name="fruit" value="plumcot">
                        <img src="/static/Images/Fruit/Plumcot.jpg" alt="A picture of plumcot">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Pomegranate</h1>
                    <p>With its ruby-red seeds, it offers a burst of sweet-tart flavor and antioxidants.</p>
                    <label for="pomegranate">
                        <input required type="radio" id="pomegranate" name="fruit" value="pomegranate">
                        <img src="/static/Images/Fruit/Pomegranate.jpg" alt="A picture of pomegranates">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Pomelo</h1>
                    <p>Giant and yellow or green, pomelos are the original citrus delight, offering a sweet and slightly bitter taste.</p>
                    <label for="pomelo">
                        <input required type="radio" id="pomelo" name="fruit" value="pomelo">
                        <img src="/static/Images/Fruit/Pomelo.jpg" alt="A picture of pomelos">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Purple Mangosteen</h1>
                    <p>With a thick, purple rind and juicy, white flesh, it's the "queen of fruits" with a unique, sweet-tangy flavor.</p>
                    <label for="purplemangosteen">
                        <input required type="radio" id="purplemangosteen" name="fruit" value="purplemangosteen">
                        <img src="/static/Images/Fruit/PurpleMangosteen.jpg" alt="A picture of purple mangosteens">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Pumpkin</h1>
                    <p>Large and orange, pumpkins are the symbol of autumn and provide a sweet and nutty flavor perfect for the season.</p>
                    <label for="pumpkin">
                        <input required type="radio" id="pumpkin" name="fruit" value="pumpkin">
                        <img src="/static/Images/Fruit/Pumpkin.jpg" alt="A picture of pumpkins">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Quince</h1>
                    <p>Golden and fragrant when ripe, quinces are known for their floral aroma and sweet, perfumed taste.</p>
                    <label for="quince">
                        <input required type="radio" id="quince" name="fruit" value="quince">
                        <img src="/static/Images/Fruit/Quince.jpg" alt="A picture of quinces">
                    </label>
                </div>       
                
                <div class="card">
                    <h1>Raspberry</h1>
                    <p>Small and red or black, these berries are sweet, juicy, and perfect for pies and jams.</p>
                    <label for="raspberry">
                        <input required type="radio" id="raspberry" name="fruit" value="raspberry">
                        <img src="/static/Images/Fruit/Raspberry.jpg" alt="A picture of raspberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Salmonberry</h1>
                    <p>Orange or red, these berries have a unique, sweet-tart taste reminiscent of salmon roe.</p>
                    <label for="salmonberry">
                        <input required type="radio" id="salmonberry" name="fruit" value="salmonberry">
                        <img src="/static/Images/Fruit/Salmonberry.jpg" alt="A picture of salmonberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Rambutan</h1>
                    <p>Hairy and red or yellow, these tropical fruits are sweet and juicy, perfect for snacking.</p>
                    <label for="rambutan">
                        <input required type="radio" id="rambutan" name="fruit" value="rambutan">
                        <img src="/static/Images/Fruit/Rambutan.jpg" alt="A picture of rambutans">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Redcurrant</h1>
                    <p>Tiny, bright red jewels, they are tart and perfect for making jams and desserts.</p>
                    <label for="redcurrant">
                        <input required type="radio" id="redcurrant" name="fruit" value="redcurrant">
                        <img src="/static/Images/Fruit/Redcurrant.jpg" alt="A picture of redcurrants">
                    </label>
                </div>
                
                <div class = "card">
                    <h1>Salal Berry</h1>
                    <p>Small and purplish-black, these berries are sweet with a slight tartness and are native to the Pacific Northwest.</p>
                    <label for="salalberry">
                        <input required type="radio" id="salalberry" name="fruit" value="salalberry">
                        <img src="/static/Images/Fruit/SalalBerry.jpg" alt="A picture of salal berries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Salak</h1>
                    <p>Also known as snake fruit, they have reddish-brown scaly skin and sweet, tangy flesh.</p>
                    <label for="salak">
                        <input required type="radio" id="salak" name="fruit" value="salak">
                        <img src="/static/Images/Fruit/Salak.jpg" alt="A picture of salak">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Satsuma</h1>
                    <p>Seedless and easy to peel, Satsumas are sweet and a delightful citrus snack.</p>
                    <label for="satsuma">
                        <input required type="radio" id="satsuma" name="fruit" value="satsuma">
                        <img src="/static/Images/Fruit/Satsuma.jpg" alt="A picture of satsumas">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Soursop</h1>
                    <p>With green, spiky skin and soft, white flesh, it offers a tropical flavor that's a mix of strawberry, pineapple, and citrus.</p>
                    <label for="soursop">
                        <input required type="radio" id="soursop" name="fruit" value="soursop">
                        <img src="/static/Images/Fruit/Soursop.jpg" alt="A picture of soursop">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Star Fruit</h1>
                    <p>Star-shaped when sliced, this fruit has a unique sweet and slightly tart taste.</p>
                    <label for="starfruit">
                        <input required type="radio" id="starfruit" name="fruit" value="starfruit">
                        <img src="/static/Images/Fruit/StarFruit.jpg" alt="A picture of star fruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Solanum Quitoense</h1>
                    <p>Also known as naranjilla, it's green and bumpy, with a tangy, citrusy flavor.</p>
                    <label for="naranjilla">
                        <input required type="radio" id="naranjilla" name="fruit" value="naranjilla">
                        <img src="/static/Images/Fruit/SolanumQuitoense.jpg" alt="A picture of naranjilla">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Strawberry</h1>
                    <p>Small, red, and heart-shaped, strawberries are a classic, sweet berry perfect for desserts and snacking.</p>
                    <label for="strawberry">
                        <input required type="radio" id="strawberry" name="fruit" value="strawberry">
                        <img src="/static/Images/Fruit/Strawberry.jpg" alt="A picture of strawberries">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Tamarillo</h1>
                    <p>Egg-shaped and bright red or yellow, tamarillos have a unique, tangy-sweet taste.</p>
                    <label for="tamarillo">
                        <input required type="radio" id="tamarillo" name="fruit" value="tamarillo">
                        <img src="/static/Images/Fruit/Tamarillo.jpg" alt="A picture of tamarillos">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Tamarind</h1>
                    <p>Brown and pod-like, tamarind is known for its sweet-sour flavor and use in various cuisines.</p>
                    <label for="tamarind">
                        <input required type="radio" id="tamarind" name="fruit" value="tamarind">
                        <img src="/static/Images/Fruit/Tamarind.jpg" alt="A picture of tamarind">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Tangerine</h1>
                    <p>Sweet and tangy, tangerines are a burst of orange goodness.</p>
                    <label for="tangerine">
                        <input required type="radio" id="tangerine" name="fruit" value="tangerine">
                        <img src="/static/Images/Fruit/Tangerine.jpg" alt="A picture of tangerine">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Tomato</h1>
                    <p>Tomatoes come in various colors, including red, yellow, and green, and they offer a burst of juicy, tangy flavor.</p>
                    <label for="tomato">
                        <input required type="radio" id="tomato" name="fruit" value="tomato">
                        <img src="/static/Images/Fruit/Tomato.jpg" alt="A picture of tomatoes">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Ugli Fruit</h1>
                    <p>This wrinkled, green or yellow citrus offers a sweet-tart, refreshing taste.</p>
                    <label for="uglifruit">
                        <input required type="radio" id="uglifruit" name="fruit" value="uglifruit">
                        <img src="/static/Images/Fruit/UgliFruit.jpg" alt="A picture of ugli fruit">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Watermelon</h1>
                    <p>Iconically refreshing offer a juicy and sweet experience that's perfect for summer.</p>
                    <label for="watermelon">
                        <input required type="radio" id="watermelon" name="fruit" value="watermelon">
                        <img src="/static/Images/Fruit/Watermelon.jpg" alt="A picture of watermelons">
                    </label>
                </div>
                
                <div class="card">
                    <h1>Yuzu</h1>
                    <p>Small and yellow, yuzu has a unique, zesty citrus flavor, often used in Japanese cuisine.</p>
                    <label for="yuzu">
                        <input required type="radio" id="yuzu" name="fruit" value="yuzu">
                        <img src="/static/Images/Fruit/Yuzu.jpg" alt="A picture of yuzu">
                    </label>
                </div>                
            <p>Beware you can only submit the form once!</p>
            <input type="submit" value="Vote">
    </body>
</html>