<html>
    <head>
        <title>What Type of Gamer are YOU? :O - Results May Suprise You!</title>
        <link rel="stylesheet" href="/static/QuizStyle.css">
    </head>
    <body>
        <p>What are your preferred way to game?</p>
        <form action="/quiz" method="get">
            <input type="checkbox" id="device1" name="device1" value="Mobile">
            <label for="device1">Mobile/Phone</label><br>
            <input type="checkbox" id="device2" name="device2" value="Console">
            <label for="device2">Console</label><br>
            <input type="checkbox" id="device3" name="device3" value="PC">
            <label for="device3">PC</label><br>
            <input type="checkbox" id="device4" name="device4" value="Retro">
            <label for="device4">Retro</label><br>
            <input type="submit" value="Submit">
            {% for name in previtems %}
                {% if "quiz" not in name %}
                    <input type="hidden" name="{{name}}" value="{{previtems[name]}}">
                {% endif %}
            {% endfor %}
            <input type="hidden" name="quiz" value="2">
            <input type="hidden" name="Console" value="action">
        </form>
    </body>
</html>